

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>CRUDSpring</title>
  </head>
  <body>
   <div class="container">
    <h1>Gestión de Personas</h1>
    <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Nombres</th>
	      <th scope="col">Apellidos</th>
	      <th scope="col">Dni</th>
	      <th scope="col">Celular</th>
	      <th scope="col">Dirección</th>
	      <th scope="col">Email</th>
	      <th scope="col">Sexo</th>
	      <th scope="col">Opciones</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="per:${personas}">
	      <th th:text="${per.id}"></th>
	      <td th:text="${per.nombres}"></td>
	      <td th:text="${per.apellidos}"></td>
	      <td th:text="${per.dni}"></td>
	      <td th:text="${per.celular}"></td>
	      <td th:text="${per.direccion}"></td>
	      <td th:text="${per.email}"></td>
	      <td th:text="${per.sexo}"></td>
	      <td>
	      	<a th:href="@{/editar/}+${per.id}" class="btn btn-primary">Editar</a>
	      	<a th:onclick="eliminar([[${per.id}]])" class="btn btn-warning">Eliminar </a>
	      </td>
	    </tr>
	  </tbody>
	</table>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="scripts.js"></script>
  </body>
</html>